$dark-blue: #000040;
$white: #ffffff;
$grey-1: #eeeeee;
$grey-2: #dddddd;
$grey-3: #999999;
$grey-4: #454545;
$grey-5: #252525;

// semi-transperant colors
$color-trnsprnt-black-1: rgba(0, 0, 0, 0.5);
$color-trnsprnt-black-2: rgba(0, 0, 0, 0.3);
$color-trnsprnt-black-3: rgba(0, 0, 0, 0.8);
$color-trnsprnt-black-4: rgba(0, 0, 0, 0.2);
$color-trnsprnt-black-5: rgba(0, 0, 0, 0.03);
$color-trnsprnt-black-6: rgba(0, 0, 0, 0.05);